/*
 * Board.scss
 * Styles for ../components/Board.tsx
 */

.board {
    padding-bottom: 1rem;
    margin: auto;

    .boardCell {
        float: left;

        &.grid {
            border: 1px solid silver;
        }

        &.alive {
            background-color: white;
        }

        &.dead {
            background-color: black;
        }
    }
}
