/*
 * Board.scss
 * Styles for ../components/Board.tsx
 */

$colorsPallete: (
    "classic": (
        "alive": yellow,
        "dead": darkgray,
        "grid": silver,
    ),
    "high-contrast": (
        "alive": white,
        "dead": black,
        "grid": darkgray,
    ),
    "negative-high-contrast": (
        "alive": black,
        "dead": white,
        "grid": silver,
    ),
);

@mixin board-colors($className) {
    &.alive {
        background-color: map-get(map-get($colorsPallete, $className), "alive");
    }

    &.dead {
        background-color: map-get(map-get($colorsPallete, $className), "dead");
    }

    &.grid {
        border: 1px solid map-get(map-get($colorsPallete, $className), "grid");
    }
}

.board {
    padding-bottom: 1rem;
    margin: auto;

    .board-cell {
        float: left;

        &.classic {
            @include board-colors("classic");
        }

        &.high-contrast {
            @include board-colors("high-contrast");
        }

        &.negative-high-contrast {
            @include board-colors("negative-high-contrast");
        }
    }
}
