.control {
    display: flex;
    margin: auto;

    & div {
        margin: auto;
        margin-right: 0;

        &:last-child {
            margin-left: 0;
            margin-right: auto;
        }
    }

    & * {
        display: inline-block;

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }

    & button {
        padding: 0 8px !important;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
