.control {
    display: table;
    margin: auto;

    & * {
        display: table-cell;

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }

    & button {
        padding: 0 8px !important;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
